strong{
    color: brown;
}
.doan1{
    font-style: italic;
    color: red;
}
.doan2{
    font-style: italic;
    color: blue;
}
.doan3{
    font-style: italic;
    color: green;
}
.doan4{
    font-style: italic;
    color: red;
}