.container{
    width: 90%;
    margin: 0 auto;
}
.container .menu{
    background-color: darkcyan;
    padding: 10px;
}
.container .menu>img{
    max-height: 45px;
}
.container .menu>ul{
    float: right;
}
.container .menu>ul>li{
    display: inline-block;
}
.container .menu>ul>li>a{
    color: white;
    text-decoration: none;
    padding: 0px 11px;
}
.container .menu>ul>li>a:hover{
    color: darkgray;
}
.main{
    padding-left: 10px;
}
.container .card{
    width: 24%;
    border: 1px solid gainsboro;
    border-radius: 9px;
    margin: 10px 10px 10px 0px;
    padding: 0px 0px 5px 0px;
    float: left;
}
.container .card>.card-header{
    background-color: darkcyan;
    line-height: 40px;
    border-radius: 5px 5px 0px 0px;
    padding-left: 10px;
}
.container .card>.card-body{
    padding: 9px;
}
.container .card>.card-body>img{
    width: 30%;
}
.container .card>.card-body>.info{
    width: 60%;
    float: right;
}
.container .card>.card-body>.info>a{
    text-decoration: none;
}
footer{
    background-color: darkcyan;
    text-align: center;
    clear: both;
    padding: 10px 0px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
table{
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
}
tr:nth-child(2n){
    background-color:#70e992;
}
tr:first-child{
    background-color: cadetblue;
}
tr:nth-child(2){
    background-color: cadetblue;
}